*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1.Từ ngoài vào trong
2. Từ trên xuống dưới
3.Từ tổng quan đến chi tiết */
/* 
1. vị trí
2.Kích thước
3.Màu sắc
4. Kiểu dáng(kiểu chữ, font chữ, màu chữ,...) */
/* tính chất của thẻ display:block là mỗi thằng sẽ nằm trên một hàng riêng biệt */
.text-white{
    color: #fff !important;
}
.clear{
    clear: both;
}
.mt-8{
    margin-top: 8px!important;
}
.mt-16{
    margin-top: 16px!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;

}
.row::after{
    content:"";
    display: block;
    clear: both;
}
.colum{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.colum-third{
    width: 33.333333%;
}
.colum-half{
    width: 50%;
}
.colum-full{
    width: 100%;
}
.text-center{
    text-align: center!important;
}
.btn{
    margin-top: 16px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;/*để không bị đè lên chữ */
   border: none;
   text-align: center;
   appearance: none;
   -webkit-appearance: none;
}
.btn:hover{
    background-color: #ccc;
    cursor: pointer;
}
.pull-right{
    float: right!important;
}


/* main */
#main{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    
}

#nav ,.subnav{
    list-style-type: none;
}

#header{
    height: 46.5px;
    background-color: black;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
     z-index: 1;
    /* overflow: hidden; */
}
#nav{
    display: inline-block;
}
#nav li{
    
    position: relative;
}
#nav >li{
    display: inline-block;
}
#nav >li >a{
     color: #fff;
     text-transform: uppercase;
}

#nav li a{
    padding: 0 24px;
    display: block;
    text-decoration: none;
    line-height: 46.5px;
    
}

#nav >li:hover >a, 
#nav .subnav li:hover{
    background-color: #ccc;
    color: black;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
     display: none; 
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
    top:100%;
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    

}
#nav .ti-icon{
    font-size: 11px;
}


#header .search-btn{
    float:right;  
    padding: 0 21px;
    

}
#header .ti-search{
 font-size: 20px;
  line-height: 46.5px;
  color: #fff;
}

#header .search-btn:hover{
  background-color: red;
  cursor: pointer;
  
  
}
/* mobile icon */
#header .menu-mobile-btn{
    float: right;
    padding: 13px 22px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .menu-mobile-btn:hover{
    background-color: #ccc;
    color: #000;
    
}
#slider{
   margin-top: 46px;
   padding-top: 50%;/* đảm bảo kích thước chiều cao bằng 50% kích thước chiều ngang*/
    background: url('../img/slider/slider1.jpg')top center /cover no-repeat ;
    position: relative;
}
#slider .text-content{
    text-align: center;
    position: absolute;/* giúp nhấc cao lên 1 lớp so với ảnh */
    bottom: 47px;
    /*Thuộc tính bottom được dùng để định vị trí dưới (bottom) 
    cho thành phần khi sử dụng thuộc tính position, với khoảng cách được tính 
    từ mép dưới cùng của thành phần bao ngoài. */
    
   width: 100%;
   color: #fff;
    
}
#slider .text-heading{
   font-weight: 500;/* độ dày cảu chữ */
    font-size: 24px;
}
#slider .text-descrition{
    margin-top: 10px;
    font-size: 15px;
    text-shadow: 0 0 1px #000;

}

#content .content-section{
    width: 800px;
    max-width: 100%; /* trong màn hình bé hơn 800px thì sẽ theo lệnh thằng max-width */
    margin-left: auto;/* căn giữa */
    margin-right: auto;/* căn giữa */
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;/* khoảng cách giữa các ký tự */
}

#content .section-sub-heading{
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;/* độ mờ  chữ */
}

#content .about-text{
    margin-top: 15px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4; /* độ cao của dòng */
}
#content .member-list{
    margin-top: 48px;

}

#content .member-name{
  
    font-size: 15px;
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;/*bo góc của ảnh */

}
/* tour section */
.tour-section{
    background-color: #000;

}
.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    

}
.ticket-list li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;

}


.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.ticket-list .Quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;/*điều chỉnh hình tròn ra giữa */
}

.place-list{
     margin-top: 16px;

   

    /* tạo khoảng cách giữa thẻ với thẻ contact */
}

.place-img{
    width: 100%;/*điều chỉnh cho phù hợp kích thước thẻ div*/
    display: block;/*xóa khoảng cách giữa hai thẻ ảnh và body*/
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-weight: bolder;
    font-size: 15px;
}
.place-time{
    margin-top: 15px;
    opacity: 0.5;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}



.modal{
    position: fixed; /* tương quan với cửa sổ hiển thị của trình duyệt */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /*  4 thuộc tính trên để nó tự động phủ kín không cần tới width height */
    background-color: rgba(0,0,0,0.4);
    /* là lớp phủ đề với position:fixed */
    display: flex;
    align-items: center; /* căn giữa trong chiều cao */
    justify-content: center;/*can giữa trong chiều rộng */
    display: none;
}

/* Thuộc tính align-items sử dụng để điều chỉnh vị trí bắt đầu và căn chỉnh các item bên trong container
 theo dọc theo trục cross axis, chiều ngang hoặc chiều dọc tùy thuộc vào flex-direction. */

 /* Justify-content cho phép chúng ta căn chỉnh các phần tử theo chiều ngang hoặc chiều dọc tùy thuộc 
    vào flex-direction mà không làm thay đổi trật tự của các phần tử.
    Justify-content được đặt ở thẻ bao ngoài các phần tử mà bạn muốn căn chỉnh. */


    .modal.open{
        display: flex;
    }
    .modal-container {
        background: #fff;
        width: 600px;
        max-width: calc(100% - 32px);/* tạo khoảng cách giữa hai bên màn hình khi bị kéo nhỏ lại */
        min-height: 200px;
        position: relative;
        animation: modalFaceIn ease 0.5s;
    }
    .modal-header {
        color: #fff;
        background: #009688;
        height: 130px;
        display: flex;
        align-items: center;
        font-size: 30px;
        justify-content: center;
    }
    .modal-heading-icon{
        margin-right: 16px;
    }
    .modal-close {
        right: 0;
        position: absolute;
        cursor: pointer;
        opacity: 0.8;
        top: 0;
        color: #fff;
        padding: 12px;
    }
    .modal-close:hover{
        
        opacity: 1;
    }
    .modal-body {
        padding: 16px;
    }
    .modal-label {
        display: block;
        font-size: 15px;
        margin-bottom: 12px;
    }
    .modal-input {
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 24px;
    }

    #buy-tickets {  /* sử dngj cho thẻ pay */
        background: #009688;
        border: none;
        color: #fff;
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;
        padding: 18px;
    }
    #buy-tickets:hover{
        cursor: pointer;
        opacity: 0.9;
        background-color: #ccc;
        color: #000;
        font-weight: 1200;
    }
    .modal-footer {
        text-align: right;
        padding: 16px;
       
    }
    .modal-footer a{
        color: #2196F3;
    }
    @keyframes modalFaceIn{
        /* Tạo ra các chuyển động liên tiếp giữa các ảnh tĩnh tạo ra chuyển động như hoạt ảnh */
        from{
            opacity: 0;
            transform: translateY(-140px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    /* contact form */
    .contact-content{
        margin-top: 48px;
    }
    .contact-info{
        font-size: 18px;
        line-height: 1.4;
    }
    .contact-info i[class*="ti-"]{
        width: 30px;
        
    }
    .contact-info a{
        color: #00e;
        opacity: 0.8;
    }
    .contact-info:hover{
        opacity: 1;
    }
    .contact-form{
        font-size: 15px;
    }
    .contact-form .form-control{
        border:1px solid #ccc;
        padding: 10px;
        width: 100%;
    }
    .map-section img{
        width: 100%;

    }
    #footer{
        padding: 64px 16px;
        text-align: center;
        color: #000;
        
    }
    #footer .social a{
        text-decoration: none;
        color: rgba(0,0,0,0.6); 
       
    }
    .social-text{
        font-size: 15px;
        color: rgba(0,0,0,0.6);
    }
    .social-text a{
        color: rgba(0,0,0,0.6);
    }


    